
@{
    ViewData["Title"] = "Welcome";
}
@model CorePokus3.Models.User;
@if (User.Identity.IsAuthenticated)
{ <h1>Welcome @User.Identity.Name </h1>}
     else{<h1>Welcome</h1>}
    
     

Picture or smth

<div>
@Html.ActionLink("LOGIN","Login")
@Html.ActionLink("NEW USER","Register")
    </div>





